TELEGRAM_API_TOKEN=your_telegram_bot_token_here
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:7b
CONTEXT_LAST_X_MESSAGES=10
CONTEXT_MESSAGES_BEFORE_SUMMARIZE=5
CONTEXT_SUMMARIZE_PROMPT="Summarize the given conversation into 3-7 key bullet points with all critical context, decisions. Format for easy copy-paste into new chat. Do not use any additional words, just raw conversation summary."
CONTEXT_SYSTEM_PROMPT="You are computer science specialist with 20 years of experience"